.container {
    max-width: 960px;
    color:black;
    padding: 1rem;
    border-radius: 3px;
}


.avatar {
    border-radius: 100%;
    width: 200px;
    height:200px;
    object-fit: cover;
}


.bg-wrap-contents {
  padding: 15rem !important;
}

@media screen and (max-width: 500px) {
    .bg-wrap-contents {padding:5rem !important;}
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

nav div div ul li a.active {
    color: #b5adad !important;
}

.category-name, .header-emphasis {
    font-family: "Bebas Neue";
}

.restaurant, .account, .category {

    background-color: white;
}

.bg-restaurant-wrapper, .bg-account-wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.nav-link:focus, .nav-link:hover {
    color: #b5adad !important;
}

.signupform, .signin-form {
    max-width: 500px;
}


.restaurant-image {
    height:12rem;
    object-fit: cover;
}

.restaurant-link {
    color: black;
    text-decoration: none;
}




.restaurantcard {
    min-width:18rem;
}

@media screen and (max-width: 700px) {
    .restaurantcard {
    margin-top:10px;
    margin-bottom:10px;
    }
}


.search-container{
    width: 100%;
    min-height: 80vh;
    padding: 5%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30%;
  }
  .search-bar{
    width: 100%;
    max-width: 700px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;

  }
  .search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: black;
  }



.carousel-img {
    object-fit: cover;
    border-radius: 3px;
}

#restaurantImageCarousel {
    min-width:18rem;
}

@media screen and (max-width: 700px) {
    #restaurantImageCarousel {
        margin-top:30px;
        margin-bottom:10px;
    }
}

.rounded-circle {
    border-radius: 100%;
    height: 25px;
    width: 25px;
}
