
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('https://cdn.discordapp.com/attachments/960946380476669994/1080909695855906887/Chinese-food-e1503874824887_1.png')no-repeat;
    background-position: center;
    background-size: cover;
}

.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.restaurant-box{
    position: relative;
    margin-top: 18%;
    width: 1000px;
    height: 800px;
    background: #faebd7;
    display: flex;
    justify-content: left;
    align-items: left;
}



h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color: #fff;
    text-align: center;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: #2e302b;
    text-align: left;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}

.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.image-container ion-icon{
    position: absolute;
    right: 8px;
    color: black;
    font-size: 1.2em;
    top: 20px;
}

.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.forget label input{
    margin-right: 3px;
}

.forget label a{
    color: #fff;
    text-decoration: none;
}

.forget label a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}

.login{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.login p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.login p a:hover{
    text-decoration: underline;
}

.profilebox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.profilebox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
}

.profilebox input{
    width: 100%;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: black;
}

.profilebox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.container {
    max-width: 960px;
}

.header-mw700 {
    max-width: 700px;
}

#background-img-wrap {
  background: url('https://cdn.discordapp.com/attachments/960946380476669994/1080909695855906887/Chinese-food-e1503874824887_1.png') no-repeat;
  background-position: center; 
  width: 100%;
}



.bg-wrap-contents {
  padding: 15rem !important;
}

@media screen and (max-width: 500px) {
    .bg-wrap-contents {padding:5rem !important;}
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#section1 {
  background-color: #9dd5e3;
}

footer {
    background-color: #2e302b;
}

footer * {
    color: #fff;
}

nav div div ul li a.active {
    color: #b5adad !important;
}


.photo-container{
    max-width: 1200px;
    margin: auto;
    background: #f2f2f2
}

.gallery{
    margin: 5px;
    border: 1px;
    float: left;
    width: 390px;
}

.gallery img{
    width: 100%;
    height: auto;
}

.name{
    padding: 15px;
    text-align: center;
}



