{% extends 'base.html' %}
{% block title_block %}
    Homepage
{% endblock %}  
{% load staticfiles %}
{% block body_block %}
    </div>
    <div id="section1">
        <div class="container py-3">
        <div class="header-mw700 p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal">Section 1</h1>
        </div>

        <p>Some very cool text here.</p>
        </p>
      </div>
      
    </div>
    
    <div class="container">
        <div class="header-mw700 p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal">Section 2</h1>
        </div>

        <p>Some very cool text here.</p>
        </p>
      </div>
    </div>



{% endblock %}