{% extends 'CuisineCritic/base.html' %}
{% block title_block %}
    Chinese Manor House Page
{% endblock %} 
{% load staticfiles %}

{% block navbar %}
<html lang="en" dir="ltr">
    <head>
      <link rel="stylesheet" href="{% static 'style.css' %}">
      <title>Chinese Manor House</title>
      <style>
        
      </style>
    </head>
    <body>
    <div class="bg-image vh-100" id="background-img-wrap">
    <nav class="navbar navbar-dark navbar-expand-lg">
        <div class="container container-fluid">
            <a class="navbar-brand" href="#">
                Cuisine Critic
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" pa-marked="1">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarColor01">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="restaurants" pa-marked="1">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href='account' pa-marked="1">Account</a>
                </li>

                </ul>
            </div>
        </div>
    </nav> 
    <div class="restaurant-profile-box">
      <img src="{% static 'images/chinese-photo-1.jpg' %}" alt="" class="restaurant-profile-box-img">
      <div class="review-box">
        <h6>
          Past reviews:
        </h6>

      <p>
        <h2>
          • Ally Atkinson: <br></br> Food: ★★★★★  Value: ★★★★★ Service: ★★★★ Overall: ★★★★★
          <br></br> This is a must-try to anybody who wants a good meal! 
        </h2>
      </p>

      <br></br>
        <p>
        <h2>
          • Marnie Hopkins: <br></br> Food: ★★★★★  Value: ★★★★★ Service: ★★★ Overall: ★★★★
          <br></br> We came here for my sister's birthday- the food was insane! Would definitely recommend to others. 
        </h2>
      </p>
      <br></br>
      <textarea id="freeform" name="freeform" rows="4" cols="50">
        Rate this restaurant:
        Food:
        Value:
        Service:
        Overall:
        Enter your own review here:
        </textarea>
        <h2>Click here to add an image</h2>
        <input type="image" required>
      </div>
      <h1>Chinese Manor House</h1>
      <h4>
        Food: ★★★★★
        Value: ★★★★
        Service: ★★★★★
        Overall: ★★★★★
        <br></br>
      </h4>
      <h2>
        5 Woodburn Road, Glasgow, G13 9JD
        <br></br>
        Phone: 0141 559 3853
        <br></br>
        Email: ChineseManorHouse@gmail.com
      </h2>
      
    </div>
    
    </div>

    </body>
</html>

{% endblock %}