{% extends 'CuisineCritic/base.html' %}
{% block title_block %}
    Loginpage
{% endblock %} 
{% load static %}

{% block navbar %}
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>


    <body>
        <section>
            <div class="form-box">
                <div class="form-value">
                    <form action="#">
                        <h2>Forgotten your password?</h2>
                        <div class="inputbox">
                            <ion-icon name="mail-outline"></ion-icon>
                            <span class="icon"></span>
                            <input type="email" required>
                            <label>Please re-enter your email</label>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <span class="icon"></span>
                            <input type="password" required>
                            <label>Choose a password</label>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <span class="icon"></span>
                            <input type="password" required>
                            <label>Confirm your password</label>
                        </div>
                        <button>Change Password (check your emails!)<a href="restaurants"></button>
                    </form>
                </div>
            </div>
        </section>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>

{% endblock %}