{% extends 'CuisineCritic/base.html' %}
{% block title_block %}
    Homepage
{% endblock %}  
{% load static %}

{% block navbar %}
<div class="bg-image vh-100" id="background-img-wrap">
    <nav class="navbar navbar-dark navbar-expand-lg">
        <div class="container container-fluid">
            <a class="navbar-brand" href="#">
                <!-- <img src="https://cuisine.dukedan.uk/somecoollogo.png" alt="" height="40"> !-->
                Cuisine Critic
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" pa-marked="1">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarColor01">
                <ul class="navbar-nav">

                </ul>
            </div>
        </div>
    </nav>

    <div class="text-center bg-wrap-contents">
        <div class="mask">
            <div class="h-100 w-100">
                <div class="text-light align-middle">
                    <h1 class="mb-3">Cuisine Critic</h1>
                    <a href="login">
                        <button type="button" class="btn btn-lg btn-light" href="login">Log in</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

