{% extends 'CuisineCritic/base.html' %}
{% block title_block %}
    Create Profile
{% endblock %} 
{% load staticfiles %}

{% block body_block %}
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
        <section>
            <div class="form-box">
                <div class="form-value">
                    <form action="#">
                        <h2 class="white">Set Up Profile</h2>
                        <br><br>
                        <div class="inputbox">
                            <input type="text" required>
                            <label>Write a bit about yourself!</label>
                        </div>
                        <div class="inputbox">
                            <label>Choose a profile picture</label>
                            <br><br>
                            <br><br>
                            <input type="image" required>
                        </div>
                        <br><br>
                        <button>Create Profile <a href="restaurants"></button>
                    </form>
                </div>
            </div>
        </section>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>
{% endblock %}
