{% extends 'CuisineCritic/base.html' %}
{% block title_block %}
    Registration page
{% endblock %} 
{% load static %}

{% block body_block %}
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    
    <script>
        window.onload = () => {
            form_fixer();

            document.getElementById('register').addEventListener('submit', (e) => {
                e.preventDefault();
                
                button_disable(true);
                fetch('/api/register', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': document.querySelector(["[name=csrfmiddlewaretoken]"]).value
                    },
                    body: new FormData(document.getElementById("register")),
                }).then(res => res.json())
                .then(data => {
                    var resElement =  document.getElementById('response');
                    button_disable(false);
                    if(data.success) {
                        resElement.innerHTML = generateAlert(data.message, 'success');
                        setTimeout(() => {
                            window.location.href = '/restaurants';
                        }, 3000);
                    } else {
                        resElement.innerHTML = generateAlert(data.message);
                    }
                })
                .catch(err => {
                    console.log(err);
                    button_disable(false);
                    document.getElementById('response').innerHTML = generateAlert("Something went wrong. Please retry.");
                });
            });
        };

        function button_disable(enable) {
            var btn = document.getElementById('submit');
            if (!enable) {
                btn.disabled = false;
                btn.classList.replace("btn-info", "btn-light");
                btn.innerHTML = "Register";
            } else {
                btn.disabled = true;
                btn.classList.replace("btn-light", "btn-info");
                btn.innerHTML = "Submitting...";
            }
        }

        function generateAlert(msg, type='danger') {
            return `
            <div class="alert alert-${type} alert-dismissible fade show" role="alert">
                <strong> ${msg} </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            `
        }

 

        function form_fixer() {
            // Add bootstrap classes to form elements
            var elements = document.getElementsByTagName('input');
            var label;
            for (var i = 0; i < elements.length; i++) {
                if (elements[i].type == 'text' || elements[i].type == 'password' || elements[i].type == "email") {
                    elements[i].classList.add('form-control', 'mt-3', 'mb-3');
                    label = document.querySelector(`[for="${elements[i].id}"]`);
                    elements[i].placeholder = label.innerHTML.replace(":", "");
                    label.remove();
                }
            }

            Array.from(document.getElementsByClassName('helptext')).forEach(e => e.classList.add('d-none', 'text-light'));
            Array.from(document.querySelector('#register').getElementsByTagName("br")).forEach(e => e.remove());
        }
    </script>
    
    </form>

    <body>
        <section>
            <div class="form-box text-light">
                <div class="form-value">
                    <form id="register">
                        <h2 class="white">Create an account</h2>
                        {% csrf_token %}
                        {{ login_form }}
                        {{ register_form }}  
                        <!--
                        <div class="inputbox">
                            <ion-icon name="mail-outline"></ion-icon>
                            <span class="icon"></span>
                            <input type="email" required name="email">
                            <label>Email</label>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="body-outline"></ion-icon>
                            <span class="icon"></span>
                            <input type="text" required name="name">
                            <label>Full Name</label>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="body-outline"></ion-icon>
                            <span class="icon"></span>
                            <input type="text" required name="username">
                            <label>Username</label>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <span class="icon"></span>
                            <input type="password" required name="password">
                            <label>Create a password</label>
                        </div> -->
                        <button type="submit" class="btn btn-light mt-5" id="submit">Register</button>
                        <div id="response" class="mt-3 mb-3">
                            <!-- AJAX response will be inserted here after the form is submitted. -->
                        </div>
                        <div class="forget mt-5">
                            <p>Already have an account? <a href="/login">Log in</a></p>
                        </div>
                    </form>


                </div>
            </div>
        </section>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>
{% endblock %}

