{% extends 'CuisineCritic/base.html' %}
{% block title_block %}
    Featured restaurants
{% endblock %} 
{% load static %}

{% block navbar %}
<style>
    .container {
        color:black;
        padding: 1rem;
        border-radius: 3px;
    }


    .restaurant-image {
        height:12rem;
        object-fit: cover;
    }

    .restaurant-link {
        color: black;
        text-decoration: none;
    }

    .search-container{
    width: 100%;
    min-height: 80vh;
    padding: 5%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30%;
  }
  .search-bar{
    width: 100%;
    max-width: 700px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;

  }
  .search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: black;
  }



  .card {
    min-width:18rem;
  }

  @media screen and (max-width: 700px) {
    .card {
       margin-top:10px;
       margin-bottom:10px;
    }
  }


</style>

<script>
    window.onload = () => {
        document.getElementById('search').addEventListener('submit', (e) => {
            e.preventDefault();
            let search = document.getElementById('query').value;
            
            var response = document.getElementById('search-response');
            if (search == "") {
                //send_search_alert("Please enter a search term.");
            } else {
                // fetch /api/search
                fetch('/api/search', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': document.querySelector(["[name=csrfmiddlewaretoken]"]).value
                    },
                    body: new FormData(document.getElementById("search")),
                })
                .then(res => res.json())
                .then(res => {
                    if(res.success) {
                        // display results
                        var html = "We found the following restaurant(s):";
                        html += `<ul class="list-group mt-3">`;
                        for (var i = 0; i < res.restaurants.length; i++) {
                            html += `<li class="list-group-item"><a href="/restaurants/${res.restaurants[i].slug}">${res.restaurants[i].name}</a></li>`;
                        }
                        html += `</ul>`;
                        send_search_alert(html, false);
                        
                    } else {
                        send_search_alert(res.message);
                    }
                })
                .catch(err => {
                    console.log(err);
                    send_search_alert("An unexpected error occurred.");
                })
            }
        });
    };

    function send_search_alert(html, danger=true) {
        if (danger) {
            html = `<span class="text-danger">${html}</span>`;
        }
        document.getElementById('search-response').innerHTML = html;

        var modal = new bootstrap.Modal(document.getElementById("search-modal"), {});
        modal.show();

        if(danger) {
            setTimeout(
                function() {
                    modal.hide();
                }, 2000
            )
        }
    }
</script>

<div class="modal fade" id="search-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="search-modal-title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="search-modal-title" data-fontsize="20" data-lineheight="30px" style="--fontSize: 20; line-height: 1.5; --minFontSize: 20;">Search results</h5>
                <button type="button" id="modal-close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="search-response"></div>
            </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="close-modal">Close</button>
			</div>      
		</div>
	</div>
</div>


<div class="bg-image" id="background-img-wrap">
    <nav class="navbar navbar-dark navbar-expand-lg">
        <div class="container container-fluid">
            <a class="navbar-brand" href="#">
                <!-- <img src="https://cuisine.dukedan.uk/somecoollogo.png" alt="" height="40"> !-->
                Cuisine Critic
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" pa-marked="1">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarColor01">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="#">Restaurants</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/account">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


    <div class="bg-restaurant-wrapper">
        <div class="container fluid">
            <div class="search-container">
                <form class="search-bar" id="search">
                    {% csrf_token %}
                    <input type="text" placeholder="Search for a restaurant" id="query" name="query">
                    <button type="submit" class="btn btn-light"><i class="fas fa-search"></i></button>
                </form>

            </div>   
            {% if user.is_authenticated %}
                <div class="text-light text-center mt-3 w-100">Own a restaurant? <a href="#">Click here to add it</a></div>
            {% endif %}
        </div>


        <div class="container restaurant p-3">
            {% if success %}
                <div class="grid">
                    {% for category in categories %}
                    <div class="row mt-3">
                        <h3 class="category-name">{{ category.name }}</h3>
                        {% for restaurant in category.restaurants %}
                            <div class="col">
                                <a href="/restaurants/{{ restaurant.slug }}" class="restaurant-link">
                                <div class="card">
                                    <img src="{{ restaurant.image }}" class="card-img-top restaurant-image">
                                    <div class="card-body">
                                    <p class="card-text"> {{ restaurant.name }} </p>
                                    </div>
                                </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <h1 class="text-danger">{{ reason }}</h1>
            {% endif %}
        </div>
        <div style="height: 50px;"></div>
    </div>
</div>

{% endblock %}

{% block body_block %}
{% endblock %}